[Unit]
Description=Tools refresh
After=docker.service
Requires=docker.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/tools-refresh
EnvironmentFile=-/etc/default/tools-refresh.d/*
ExecStartPre=/bin/bash -c "curl -fsSL https://raw.githubusercontent.com/sdwandemo/topology/master/scripts/tools-refresh.sh > /usr/local/bin/tools-refresh.sh"
ExecStartPre=/bin/chmod +x /usr/local/bin/tools-refresh.sh
ExecStart=/usr/local/bin/tools-refresh.sh
SyslogIdentifier=tools-refresh

[Install]
WantedBy=multi-user.target
